
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../css/modelo/style.css">
    <link rel="stylesheet" href="../../css/modelo/base.css">
    <link rel="stylesheet" href="../../css/modelo/vendor.css">
    <link rel="stylesheet" href="../../css/modelo/main.css">
    <link rel="stylesheet" href="../../css/cotizador.css">
  
    <!-- script
    ================================================== -->
    <script src="../../js/modernizr.js"></script>
    <script src="../../js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/brimaxLogoText.png" type="image/x-icon">
   