<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form action="/as" method="post">
    <label for="">Titulo</label>
    <input type="text" placeholder="Titulo"> <br>
    <label for="">Precio</label>
    <input type="number" name="" id="" placeholder="Precio"> <br>
    <label for="">Caracteristicas</label>
    <input type="text" name="" id="" placeholder="Caracteristicas">
  
    <input type="submit" value="subirs">
    </form>
</body>
<style>
    form{
        text-align: center;
        margin: auto;
    }
</style>
</html>